<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Top 5 European Football Leagues</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="" />
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Import custome Stadium Marker -->
  <img src="../static/football_marker.png" id="football_icon" style="display: none;">
  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  

</head>

<body>

  <div class="container">
    <!-- <div class="row"> -->
      <div class="text-center">
        <p class = "highlight"></p>
        <h3>Top 5 European Football Leagues</h3>
        <p>Use the interactive charts below to explore the dataset</p>
     
        <h4>League</h4>
        <!-- onchange="optionChanged(this.value) -->
        <select id="selDataset" >  
          <!-- <option value="EPL">EPL</option>
          <option value="LaLiga">LaLiga</option>
          <option value="SerieA">SerieA</option>
          <option value="Bundesliga">Bundesliga</option>
          <option value="Ligue1">Ligue1</option> -->
        </select>
        <a href="teams.html">Teams Page</a>

        </div>
    
      <div id="map-id"></div>

      <!-- </div> -->
      <div class="chart-container">
        <div id="sunburst"></div>
        <div id="barline"></div>  
      </div>
        <!-- <div id="barline"></div> -->

    <!-- </div> -->
  </div>
  <script type="text/javascript" src="../static/js/app.js"></script>
</body>

</html>